﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <input id="btnOK" type="button" value="OK" runat="server" />
            <br />
            <input id="Reset1" type="reset" value="reset" />
            <br />
            <input id="Submit1" type="submit" value="submit" />
            <br />
            <input id="Text1" type="text" />
            <br />
            <input id="File1" type="file" />
            <br />
            <input id="Password1" type="password" />
            <br />
            <input id="Checkbox1" type="checkbox" />
            <br />
            <input id="Radio1" type="radio" />
            <br />
            <input id="Hidden1" type="hidden" />
            <br />
            <textarea id="TextArea1" cols="20" rows="2"></textarea>
            <br />
            <table style="width: 100%;">
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </div>
    </form>
</body>
</html>