﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="Index" %>
<%@ Register Src="~/Login.ascx" TagPrefix="uc2" TagName="Login" %>



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc2:Login runat="server" ID="Login" />
        <%--<asp:Button ID="Button1" runat="server" Text="Button" />
        <br />
        <asp:CheckBox ID="CheckBox1" runat="server" />
        <br />
        <asp:FileUpload ID="FileUpload1" runat="server" />
        <br />
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <br />
        <asp:HyperLink ID="HyperLink1" runat="server">HyperLink</asp:HyperLink>
        <br />
        <asp:Image ID="Image1" runat="server" />
        <br />
        <asp:RadioButton ID="RadioButton1" runat="server" />--%>
    </div>
    </form>
</body>
</html>
