﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Login.ascx.cs" Inherits="Login" %>

Username: <asp:TextBox ID="txtUsername" runat="server"></asp:TextBox>
<br /><br />
Password: <asp:TextBox ID="txtPassword" runat="server"></asp:TextBox>
<br /><br />
<asp:Button ID="btnSubmit" runat="server" Text="Submit" />