﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Master.master.cs" Inherits="Master" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SAMPLE PAGE</title>
    <asp:ContentPlaceHolder id="cpHead" runat="server">
        
    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="divHeader">HEADER</div>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="cpBody" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
    <div id="divFooter">FOOTER</div>
</body>
</html>
